<a href="https://colab.research.google.com/github/thisIsShikhar/python_practice/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[]
while True:
    number=input("enter the number:")

    if number=="done":
        break
    else:  
      try:
        number==float() 
        a.append(int(number))
        continue
      except:
        pass

print("The maximum input:",max(a))  
print("The minimum input:",min(a))   
print("The total input:",sum(a))

ValueError: max() arg is an empty sequence

In [10]:
from array import*
array1=array('B',[10,20,30,40,50])

In [11]:
for x in array1:
    print(x)

10
20
30
40
50

In [13]:
array1.insert(3,99)

In [14]:
print(array1)

array('B', [10, 20, 30, 99, 40, 50])

In [18]:
a={'name':['shikhar','sabbir','monwar','kibria'], 'age':25, 'height':6}

In [25]:
a['name']

('shikhar', 'sabbir', 'monwar', 'kibria')

In [26]:
from array import*

a=[[1,2,3],[4,5,6],[7,8,9]]

a[2]

[7, 8, 9]

In [27]:
del a[2]

In [28]:
a

[[1, 2, 3], [4, 5, 6]]

In [30]:
for x in a:
    for y in x:
        print(y, end=" ")
    print()

1 2 3
4 5 6

In [31]:
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

In [32]:
a

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [33]:
m=reshape(a,(7,5))

In [34]:
m

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [38]:
m_r=append(m,[['avg',12,14,15,16]],0)

In [36]:
m_r

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16'],
       ['avg', '12', '14', '15', '16']], dtype='<U3')

In [41]:
m_r=insert(m,[5],[[21],[12],[14],[15],[16],[61],[71]],1)

In [42]:
m_r

array([['Mon', '18', '20', '22', '17', '21'],
       ['Tue', '11', '18', '21', '18', '12'],
       ['Wed', '15', '21', '20', '19', '14'],
       ['Thu', '11', '20', '22', '21', '15'],
       ['Fri', '18', '17', '23', '22', '16'],
       ['Sat', '12', '22', '20', '18', '61'],
       ['Sun', '13', '15', '19', '16', '71']], dtype='<U3')

In [44]:
a={'apple','banana','grape','orange'}
b={'apple','lichi','coconut','nut'}

c=a|b

In [45]:
c

{'apple', 'banana', 'coconut', 'grape', 'lichi', 'nut', 'orange'}

In [46]:
d=a&b

In [47]:
d

{'apple'}

In [49]:
import collections

In [50]:
a={'day1':'sat','day2':'sun'}
b={'day3':'mon','day1':'tue'}

c=collections.ChainMap(a,b)

In [57]:
print(c.maps)

[{'day1': 'sat', 'day2': 'sun'}, {'day3': 'mon', 'day1': 'tue'}]

In [52]:
print(f"keys={list(c.keys())}")

keys=['day3', 'day1', 'day2']

In [72]:
class A:
    def __init__(self,name,color):
        self.name=name 
        self.color=color 

    def __str__(self):
        return f"this is {self.name} and {self.color} is it's color"

In [73]:
b=A('chief','white')

In [74]:
b.name

'chief'

In [75]:
A('chief','white')

In [76]:
c=A('aa','ff')

In [77]:
print(c)

this is aa and ff is it's color

In [78]:
class Node:
    def __init__(self,dataval=None):
        self.dataval=dataval
        self.nextval=None
class SlinkedList:
    def __init__(self):
        self.headval=None

In [79]:
list1=SlinkedList()
list1.headval=Node("Mon")
e2=Node("Tue")
e3=Node("Wed")

In [80]:
list1.headval.nextval=e2

In [81]:
e2.nextval=e3

AttributeError: 'SlinkedList' object has no attribute 'listprint'