<a href="https://colab.research.google.com/github/thisIsShikhar/python_practice/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[]
while True:
    number=input("enter the number:")

    if number=="done":
        break
    else:  
      try:
        number==float() 
        a.append(int(number))
        continue
      except:
        pass

print("The maximum input:",max(a))  
print("The minimum input:",min(a))   
print("The total input:",sum(a))

ValueError: max() arg is an empty sequence

In [10]:
from array import*
array1=array('B',[10,20,30,40,50])

In [11]:
for x in array1:
    print(x)

10
20
30
40
50

In [13]:
array1.insert(3,99)

In [14]:
print(array1)

array('B', [10, 20, 30, 99, 40, 50])

In [18]:
a={'name':['shikhar','sabbir','monwar','kibria'], 'age':25, 'height':6}

In [25]:
a['name']

('shikhar', 'sabbir', 'monwar', 'kibria')

In [26]:
from array import*

a=[[1,2,3],[4,5,6],[7,8,9]]

a[2]

[7, 8, 9]

In [27]:
del a[2]

In [28]:
a

[[1, 2, 3], [4, 5, 6]]

In [30]:
for x in a:
    for y in x:
        print(y, end=" ")
    print()

1 2 3
4 5 6

In [31]:
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

In [32]:
a

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [33]:
m=reshape(a,(7,5))

In [34]:
m

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [37]:
m_r=append(m,[['avg',12,14,15,16]],0)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 7 and the array at index 1 has size 1

In [36]:
m_r

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16'],
       ['avg', '12', '14', '15', '16']], dtype='<U3')