In [9]:
age=int(input("input your age: "))

if age>=16:
    print("Cool!")
else:
    print("Oh no!")

input your age:  4

Oh no!

In [4]:
x=int(input("Enter X:"))
y=int(input("Enter Y:"))

if x>=y:
    if x==5 or y==5 and y>=4:
        print("Fine! you're good to go")
    elif x==6 and y<5:
        print("Eitao chole")
else:print( "vaaag sala")

Enter X: 2
Enter Y: 6

vaaag sala

In [5]:
x == y

False

In [10]:
a=int(input())
b=int(input())

def SUM(a,b):
    print("sum of the numbers",a+b)
    
SUM(a,b)

 5
 6

sum of the numbers 11

In [18]:
for x in range(0,10):
    x += 3
    print(x)

3
4
5
6
7
8
9
10
11
12

In [20]:
loop = True

while loop:
    name=input("input something: ")
    if name == "stop":
        break
    else: print(name)

input something:  hamba

hamba

input something:  goru

goru

input something:  stop

In [21]:
fruits=['apple','banana', 'orange']

In [23]:
fruits[2]

'orange'

In [24]:
fruits[1:3]

['banana', 'orange']

In [25]:
fruits.append('grape')

In [28]:
fruits

['apple', 'banana', 'orange', 'grape']

In [29]:
fruits[0]='lichy'

In [30]:
fruits

['lichy', 'banana', 'orange', 'grape']

In [33]:
b=0
for a in fruits:
    b+=1
    print(b,'.',a)

1 . lichy
2 . banana
3 . orange
4 . grape

In [34]:
for a in fruits:
    if a=='banana':
        print("banana")
    else: print("not banana")

not banana
banana
not banana
not banana

In [36]:
for a in range(len(fruits)):
    if fruits[a] == "banana":
        print('banana')
    else: print('not banana')

not banana
banana
not banana
not banana

In [37]:
# .strip(), .len(), .lower(),  .upper(),  .split()

In [52]:
a=input("type: ")

# print(a.strip())
# print(len(a))
# print(a.lower())
# print(a.upper())
print(a.split('a'))
print(len(a.split('a')))

type:  the cat is a dirty animal

['the c', 't is ', ' dirty ', 'nim', 'l']
5

In [77]:
text='abcdefghijklmnop'
print(text[:2:-5])

pkf

In [68]:
fruits=['apple','banana', 'orange']
fruits[2:2]=["grape"]
# fruits.insert(2,"grape")

fruits

['apple', 'banana', 'grape', 'orange']

In [78]:
def addtwo(a):
    return a+2

def subtwo(a):
    return a-2

addtwo(5)

7

In [11]:
file=open('test.txt','r')

a=file.readlines()

newlist= []

# for line in a:
#     if line[-1] == '\n':
#         newlist.append(line[:-1])   # :-1 means it will skip the last character
#     else: newlist.append(line)
# newlist    

for line in a:
    newlist.append(line.strip())
    
file.close()    
newlist

['hello', 'shikhar', 'python', 'practicing']

In [12]:
file = open('test.txt','w')

file.write("python\n")
file.write("this is shikhar wh

file.close()

In [15]:
# .find(),  .count()

string="hello"
# print(string.find('l'))

print(string.count('l'))

2

In [17]:
string=input("type something: ")

if string.count('_')>0:
    print("not good")
else: print("good")

type something:  hello _

not good

In [20]:
import math

math.pi
math.radians(60)

1.0471975511965976

In [22]:
def func(x=3, text=2):
    print(x)
    if text == "1":
        print("text is 1")
    else: print("text is not two")
        
func(4,5)     
func()

4
text is not two
3
text is not two

In [25]:
text=input("username:")

try:
    number=int(text)
    print(number)
    
except: print("this is not a number")

username: this

this is not a number

In [29]:
x="string"
y=23
boo=True

class number():
    def __init__(self):
        self.var=24
        
    def display(self,x):
        print(x)
        
num=number(23)

print(num)

TypeError: __init__() takes 1 positional argument but 2 were given